<!-- Name -->
<div class ="input-group mt-3 mx-3">
  <div class = "mx-3 mb-3 w-25">
    <label for="firstName">Enter Your First Name:</label>
    <input class="form-control" [(ngModel)]="firstName" type="text"/>
  </div>

  <div class = "mx-3 mb-3 w-25">
      <label for="lastName">Enter Your Last Name:</label><br>
      <input class="form-control" [(ngModel)]="lastName" id="lastName" type="text" />
  </div>
</div>

<!-- Date of Birth -->
<div class = "input-group mt-3 mx-3">
  <div class = "mx-3 mb-3 w-25">
    <label for="suburb">Date of Birth:</label><br>
    <input class="form-control" [(ngModel)]="dob" id="dob" type="date"/>
  </div>
</div>

<!-- Address -->
<div class = "input-group mt-3 mx-3">
  <div class = "mx-3 mb-3 w-25">
    <label for="suburb">Suburb:</label><br>
    <input class="form-control" [(ngModel)]="suburb" id="suburb" type="text" />
  </div>

  <div class = "mx-3 mb-3 w-25">
    <label for="state">State:</label><br>
    <select class="form-control" [(ngModel)]="state" id="state">
      <option>ACT</option>
      <option>NSW</option>
      <option>NT</option>
      <option>QLD</option>
      <option>SA</option>
      <option>TAS</option>
      <option>VIC</option>
      <option>WA</option>
    </select>
  </div>

  <div class = "mx-3 mb-3 w-25">
    <label for="postcode">Postcode:</label><br>
    <input class="form-control" [(ngModel)]="postcode" id="postcode" type="number"/>
  </div>
</div>

<!-- Number of Patient-->
<div class = "input-group mt-3 mx-3">
  <div class = "mx-3 mb-3 w-25">
    <label for="numPatient">Number of Patients:</label><br>
    <input class="form-control" [(ngModel)]="numPatient" id="numPatient" type="number" required minLength="1"/>
  </div>
</div>

<!-- Button-->
<!-- useless validation check -->
<br>
<div class="btn-group mx-3 mb-5">
  <div *ngIf = "numPatient < 0 ; then thenAddDoctorBlock else elseAddDoctorBlock"></div>

  <ng-template #thenAddDoctorBlock>
    <div *ngIf = "doctorDB.length >= 0">
      <button class="btn btn-primary mx-3" (click)="saveDoctor()" disabled>
        Add doctor <span class="budge bg-secondary">{{doctorDB.length}}</span>
      </button>
    </div>
  </ng-template>
  <ng-template #elseAddDoctorBlock>
  <div *ngIf = "doctorDB.length >= 0">
    <button class="btn btn-primary mx-3" (click)="saveDoctor()">
      Add doctor <span class="budge bg-secondary">{{doctorDB.length}}</span>
    </button>
  </div>
  </ng-template>

  <div *ngIf = "doctorDB.length==0; then thenBlock else elseBlock"></div>

  <ng-template #thenBlock>
    <button class="btn btn-danger mx-3" (click)="clearNoPatient()" disabled>
      Remove Doctor<span class="budge bg-secondary">{{countZero}}</span>
    </button>
  </ng-template>

  <ng-template #elseBlock>
    <button class="btn btn-danger mx-3" (click)="clearNoPatient()">
      Remove Doctor<span class="budge bg-secondary">{{countZero}}</span>
    </button>
  </ng-template>
</div>

<!-- Caution -->

<div class="text-grounp mx-3 mb-2 w-25">
  <div class = "mx-3 text-warning bg-dark" *ngIf = "numPatient == 0" >
    Number of patients is 0 !
  </div>
</div>

<!--
  <div *ngIf="doctorDB.length>0">You have {{doctorDB.length}} doctors</div>
<div *ngIf="doctorDB.length==5">Caution: 5 items in your array</div>
-->

<!-- Table -->
<table class="table table-hoverd">
  <thead class= "table-dark">
    <tr>
      <th> # </th>
      <th> First name </th>
      <th> Last name </th>
      <th> Date of Birth </th>
      <th> Suburb </th>
      <th> State </th>
      <th> Postcode </th>
      <th> Number of Patient </th>
      <th> Delete </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of doctorDB; let i = index" [ngClass] = "{'table-info': item.numPatient > 10}">
      <!-- index -->
      <td>{{i+1}}</td>
      <!-- firstname-->
      <td>{{item.firstName}}</td>
      <!-- lastname-->
      <td>{{item.lastName}}</td>
      <!-- Dob -->
      <td>{{item.dob}}</td>
      <!--Suburb-->
      <td>{{item.suburb}}</td>
      <!-- State-->
      <td>{{item.state}}</td>
      <!-- Postcode -->
      <td>{{item.postcode}}</td>
      <!-- number of Patient-->
      <td>{{item.numPatient}}</td>
      <!-- Button -->
      <td><button type="button" class="btn btn-danger btn-block btn-sm" (click)="clearDoctor(i)">X</button></td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
